fastapi
uvicorn[standard]
pydantic
python-dotenv
pydantic-settings
google-cloud-language
google-cloud-translate
google-cloud-speech
python-multipart
gradio
requests
soundfile
numpy
scipy 
gunicorn
feedparser  # For RSS feeds
newsapi-python # For NewsAPI.org
nltk        # For basic NLP (tokenization, stopwords, n-grams)